ArgHolidays/Service References/MIFeriados/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FeriadosEntreFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeriadosEntreFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeriadosEntreFechasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="FeriadoDS" Namespace="http://schemas.datacontract.org/2004/07/MinIntPublico.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/FeriadoDS.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeriadosEntreFechasAsXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeriadosEntreFechasAsXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FeriadosEntreFechasAsXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>